:root {
  --lightgreen: rgb(87, 188, 146);
  --darkgreen: rgb(0, 84, 71);
  --blue: rgb(118, 202, 212);
  --salmon: rgb(255, 68, 149);

  --one: rgb(236, 236, 236);
  --twoo: rgb(161, 176, 182);
  --two: rgb(93, 111, 119);
  --three: rgb(10, 30, 41);
  --four: rgb(6, 18, 25);
}

* {
  color: var(--twoo);
  box-sizing: border-box;
}

body {
  background-color: var(--three);
}
