.cashflow-nav {
  width: 76%;
  height: 50px;
  border-radius: 0 0 10px 10px;
  background-color: rgb(0, 0, 0, 0);
  min-width: 580px;
  position: absolute;
  top: 7rem;
  display: flex;
  justify-content: space-between;
  z-index: 2;
}

@media screen and (max-width: 760px) {
  .cashflow-nav {
    top: 9rem;
  }
}

span {
  display: inline;
  padding: 1rem;
  cursor: pointer;
  font-size: 16pt;
}

span:hover {
  color: var(--one);
}

.sub-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tab {
  font-size: 14pt;
}

.sub-select {
  color: var(--one);
  border-bottom: 1px solid var(--salmon);
}
