.cashPies-wrapper,
.pies-wrapper,
.dash-wrapper,
.cashflow-wrapper {
  display: flex;
  justify-content: center;
}

.cashflow-wrapper {
  flex-direction: column;
  align-items: center;
}

.card-title {
  position: absolute;
  cursor: pointer;
  z-index: 1;
}

.card-title {
  transform: translate(30px, 15px);
  display: flex;
}

.num {
  padding: 0;
  padding-left: 1rem;
  cursor: auto;
}

.num:hover {
  color: var(--twoo);
}

.title-hover:hover {
  color: var(--one);
  text-decoration: underline;
}

.dash-tile {
  background-color: var(--four);
  margin: 0.5rem;
  border-radius: 10px;
}

.NW-wrapper {
  margin-top: 1rem;
}

.cashflow-area-wrapper {
  width: 816px;
}

.budget-wrapper,
.cashflow-area-wrapper {
  margin-bottom: 1rem;
}

.dash-container {
  width: 80%;
}

.budget-wrapper {
  width: 100%;
  min-width: 400px;
  display: flex;
  justify-content: center;
}

.center-budget {
  position: absolute;
  transform: translateY(10.9rem);
  z-index: 1;
}

@media screen and (max-width: 1600px) {
  .dash-container {
    min-width: min-content;
  }
}

@media screen and (max-width: 1301px) {
  .pies-wrapper {
    display: block;
    margin-top: 1rem;
  }
  .budget-wrapper,
  .NW-wrapper,
  .cashflow-area-wrapper {
    width: 95vw;
  }
  .cashPies-wrapper {
    width: 95vw;
  }
  .cashPies-title {
    transform: translate(-100px, 15px);
  }
  .income-wrapper,
  .expense-wrapper {
    display: flex;
    justify-content: center;
    flex: 0 1 100%;
    min-width: 200px;
    margin: 0.5rem 0;
  }
  .income-wrapper {
    margin-right: 0.5rem;
  }
  .expense-wrapper {
    margin-left: 0.5rem;
  }
  .dash-container {
    overflow-x: hidden;
  }
  .budget-wrapper,
  .cashflow-area-wrapper {
    margin: 0.5rem;
  }
  body {
    overflow-x: hidden;
  }
  .center-budget {
    transform: translateY(10.5rem);
  }
}

.budget-title {
  transform: translate(-150px, 15px);
}

.amount {
  position: absolute;
}
