table {
  background-color: var(--four);
  margin: 1rem;
  border-radius: 10px;
  /* width: 800px; */
  border-collapse: collapse;
}

td {
  border-top: 1px solid rgb(0, 0, 0, 0);
  padding: 0;
  text-align: center;
}

td:last-child {
  border: none;
  cursor: pointer;
}

/* tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.2);
} */

.head-row {
  cursor: auto;
}

tr:hover td {
  color: var(--one);
  cursor: pointer;
  background-color: rgb(17, 49, 67, 0.3);
}

tr:hover .no-hover {
  cursor: auto;
  /* background-color: rgb(0, 0, 0, 0); */
}

tr:hover .column-btn {
  display: block;
}

.column-btn {
  display: none;
  position: absolute;
  transform: translate(-7vw, -12px);
}

.save {
  display: block;
  transform: translate(-7vw, -12px);
}

@media screen and (max-width: 950) {
  .column-btn {
    transform: translate(-10vw, -12px);
  }
}

button {
  cursor: pointer;
  color: var(--salmon);
  background-color: var(--four);
  border: none;
  border-radius: 5px;
  transition: 0.3s;
  font-size: 12pt;
}

button:hover {
  background-color: var(--salmon);
  color: var(--one);
}

.select,
.input,
p,
.btn-wrapper,
input {
  width: 10vw;
  min-width: 100px;
  margin: 0 auto;
}

input {
  width: 5vw;
  min-width: 100px;
  margin: 0 auto;
}
