table {
  background-color: var(--four);
  margin: 1rem;
  border-radius: 10px;
  border-collapse: collapse;
}

td {
  border-top: 1px solid rgb(0, 0, 0, 0);
  padding: 0;
  text-align: center;
}

td:last-child {
  border: none;
  cursor: pointer;
}

.head-row {
  cursor: auto;
  text-align: center;
}

tr:hover td {
  color: var(--one);
  cursor: pointer;
  background-color: rgb(17, 49, 67, 0.3);
}

tr:hover .no-hover {
  cursor: auto;
}

button {
  cursor: pointer;
  color: var(--salmon);
  background-color: var(--four);
  border: none;
  border-radius: 5px;
  font-size: 12pt;
}

.column-btn {
  color: rgb(0, 0, 0, 0);
  background-color: rgb(0, 0, 0, 0);
}

tr:hover .column-btn,
tr:hover .new-btn {
  cursor: pointer;
  color: var(--salmon);
  background-color: var(--four);
  border: none;
  border-radius: 5px;
  font-size: 12pt;
}

tr:hover .column-btn:hover,
tr:hover .new-btn:hover {
  background-color: var(--salmon);
  color: var(--one);
  transition: 0.3s;
}

.save button {
  color: aqua;
  background-color: var(--four);
  transition: 0.3s;
}

tr:hover .save button {
  color: aqua;
  background-color: var(--four);
  transition: 0.3s;
}

.select,
.input,
p,
.btn-wrapper,
input {
  width: 10vw;
  min-width: 100px;
  margin: 0 auto;
  outline: none;
}

.edited {
  background-color: rgb(17, 49, 67, 0.3);
}

input,
select {
  width: 10vw;
  text-align: center;
  font-size: 12pt;
  min-width: 100px;
  margin: 0 auto;
  background-color: rgb(0, 0, 0, 0);
  border: none;
  border-bottom: 1px solid var(--salmon);
  border-radius: 5px 5px 0 0;
}

select option {
  background-color: rgb(17, 49, 67);
  color: var(--twoo);
}

select:focus,
input:focus {
  border-color: var(--one);
}

::placeholder {
  color: var(--twoo);
  opacity: 0.5;
}
